{% extends "layout.html" %}

{% block main %}
<article class="markdown-body">
    <h1 class="title">Hello,world!</h1>
    <h2>我是学号1234567的Init_new_world</h2>
    <h2>这个小型查询系统使用Foundation 6构造,使用Django后端,也用了SQLite数据库</h2>
    <h2>请点击左上角的菜单按钮开始~</h2>
    <h2>欢迎体验！</h2>
    <h2>欢迎访问我的博客(博客主题也是我设计的~)<a href="https://blog.init-new-world.com"><button type="button" class="button">立即访问</button></a></h2>
    <h2>同时也欢迎访问我的Github~<a href="https://github.com/init-new-world"><button type="button" class="button"><i class="fa fa-github">Github</i></button></a></h2>
</article>
{% endblock %}

{% block extra %}
{% endblock %}
